body{
	
	margin: 0;
	padding: 0;
	text-align: center;
}

h1, 
h2, 
h3{
  font-family: 'Major Mono Display', monospace;
	margin: 0;
}
p,
a,
.link{
	font-family: 'IBM Plex Mono', monospace;
}

header h1{
	font-size: 3rem;
	padding: 200px 50px 100px;
	text-align: left;
}
h2
{
	font-size: 2rem;
}
h3, 
.link{
	font-size: 1.6rem;
	text-decoration: none;
}

.thingContainer{
	border-left: 4px solid #266e67;
	border-right: 4px solid #6a2638;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 50px auto 100px;
	width: 75%;
}
.thing{
	flex: 1;
	margin: 50px;
	width: 300px;
}
.links,
.contact{
	display: flex;
	justify-content: space-around;
}

.contact{
	margin: 100px 0;
}

.footer{
	background-color: #000;
	bottom: 0;
	height: 50px;
	position: static;
	width: 100%;
}
